html,body{
  margin:0px;
  padding:0px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.container{
  margin-top:40px;
}

.center{
  display:block;
  margin:auto;
  text-align:center;
}
#scores{
  width:100%;
  margin:20px auto;
  text-align:center;
}
#board{
  margin:10px auto 50px auto;
  cursor: pointer;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  width:100%;
}
.tile{
  display:block;
}
.subtile{
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
}

.grain{
  background: url("assets/grain.png") no-repeat center;
  background-size: contain;
}
.brick{
  background: url("assets/brick.png") no-repeat center;
  background-size: contain;
}
.desert{
  background: url("assets/desert.png") no-repeat center;
  background-size: contain;
}
.lumber{
  background: url("assets/lumber.png") no-repeat center;
  background-size: contain;
}
.ore{
  background: url("assets/ore.png") no-repeat center;
  background-size: contain;
}
.wool{
  background: url("assets/wool.png") no-repeat center;
  background-size: contain;
}
.linebreak{
  width:100%;
}
.button{
  margin-top:10px;
  height:30px;
  width:140px;
}
.selection{
  width:300px;
}
/*
.tile{

  margin:auto;
  height:calc(100% / 6);
  width:calc(100% / 6);
  margin-right:calc(100% / -30);
  margin-bottom:calc(100% / -19);
}
.spacer_0{
  margin-left:calc(100% / 4);
}
.spacer_3{
  margin-left:calc(((100% / 4) - (100% / 12)) + ((100% / 6) * .07));
}
.spacer_7{
  margin-left:calc(((100% / 4) - (100% / 6)) + ((100% / 6) * .15));
}
.spacer_12{
  margin-left:calc(((100% / 4) - (100% / 12)) + ((100% / 6) * .07));
}
.spacer_16{
  margin-left:calc(100% / 4);
}*/
.spacer{
  display:inline-block;
}
.green{
  color:green;
}
.orange{
  color:#dd8000;
}
.red{
  color:red;
}
.finger:hover{
  cursor:pointer;
}
@media screen{
    .tile{
      height:75px;
      width:75px;
    }
}
@media screen and (max-width: 1024px){
    .tile{
      height:60px;
      width:60px;
    }
}
@media screen and (max-width: 480px){
    .tile{
      height:40px;
      width:40px;
    }
}