html,body{
  margin:0px;
  padding:0px;
}
.tile{
  height:100px;
  width:100px;
  margin-right:-21px;
  margin-bottom:-32px;
}
.center{
  display:block;
  margin:auto;
  text-align:center;
}
#board{
  height:390px;
  width:450px;
  margin:20px auto;
  cursor: pointer;
}
#scores{
  height:200px;
  width:300px;
  margin:20px auto;
}
.spacer_0{
  display:inline-block;
  margin-left:84px;
}
.spacer_3{
  display:inline-block;
  margin-left:42px;
}
.spacer_7{
  display:inline-block;
}
.spacer_12{
  display:inline-block;
  margin-left:42px;
}
.spacer_16{
  display:inline-block;
  margin-left:84px;
}