<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Catan Randomizer</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div id="app">
            <h2 class="center"> Catan Board Finder</h2>
            <div id="board">
                <template v-for="(tile,index) in tiles">
                    <div  class="tile " :class="'spot_' + index + ' ' + tile.Type" :title="tile.Token">
                        <div v-if="tile.Token != 1"class="subtile">{{tile.Token}}</div>
                    </div>
                    <div v-if="index==2 || index==6 || index==11 || index==15" class="linebreak"></div>
                </template>
            </div>

            <div id="scores">
                <table>
                    <tr>
                        <td class="label">Resource clusters: </td>
                        <td>
                            <select class="center selection" v-model="rs_wanted">
                                <option v-for="(option, index) in rs_options" :value="index">{{option}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Token clusters: </td>
                        <td>
                            <select class="center selection" v-model="ts_wanted">
                                <option v-for="(option, index) in ts_options" :value="index">{{option}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Probability of resources: </td>
                        <td>
                            <select class="center selection" v-model="rts_wanted">
                                <option v-for="(option, index) in rts_options" :value="index">{{option}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="center">
                        <button class="button" v-on:click="getCustomBoard()">Find custom board</button>
                        <button class="button" v-on:click="getRandomBoard()">Find random board</button>
                </div>
                <div class="center small">Took {{iterations}} iteration to find board</div>
            </div>
        </div>
    </body>
    <script src="catan_randomizer_data.js"></script>
    <script src="catan_randomizer_ui.js"></script>
    <link href="catan_randomizer.css" rel="stylesheet">
</html>
